# See full Decap documentation for further configuration: https://decapcms.org/docs/intro/
backend:
  name: git-gateway
  branch: main # Branch to update (optional; defaults to master)
local_backend: true
media_folder: src/assets/images/blog # Location where files will be stored in the repo - we store them in src so that Astro can optimize them.
public_folder: src/assets/images/blog # Ensure that this path is the same as the media_folder path above.
site_url: https://stonemassage.ca/ # Displays a link to home page in the top-right corner of the CMS dashboard
logo_url: https://codestitch.app/frontend/images/logo.png # change url to a link to the image you want to use, no file paths, must be a URL
collections:
  - name: 'blog' # Used in routes, e.g., /admin/collections/blog. Is also the key when fetching data from the CMS.
    label: 'Blog' # Used in the admin dashboard UI
    folder: 'src/content/blog' # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    fields: # The fields for each document
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Description', name: 'description', widget: 'string' }
      - { label: 'Author', name: 'author', widget: 'string' }
      - { label: 'Date', name: 'date', widget: 'datetime' }
      - { label: 'Featured Image', name: 'image', widget: 'image' }
      - { label: 'Image Caption', name: 'imageAlt', widget: 'string' }
      - { label: 'Tags', name: 'tags', widget: 'list', default: ['post'] }
      - { label: 'Body', name: 'body', widget: 'markdown' }

  - name: 'services'
    label: 'Services'
    folder: 'src/content/services'
    editor:
      preview: false
    media_folder: /src/assets/images/services # Images uploaded for 'services' will go here
    public_folder: /src/assets/images/services # The public path used in the content file
    create: true
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - {
          label: 'Service Short Description',
          name: 'cardDescription',
          widget: 'text',
          required: false,
          hint: 'Optional short description for the services list; will use the service description if empty.',
        }
      - {
          label: 'Service Description',
          name: 'subtitle',
          widget: 'text',
          hint: 'Main descriptive paragraph for the service.',
        }
      - {
          label: 'Service Image',
          name: 'image',
          widget: 'image',
          hint: 'Used for both the service image landing page and the card image on services list.',
        }
      - {
          label: 'Serice Image Alt Text',
          name: 'imageAlt',
          widget: 'string',
          hint: 'Used for accessibility purposes and SEO.',
        }
      - label: 'Service Feature'
        name: 'hightlights'
        widget: 'list'
        min: 1
        max: 3
        hint: 'maximum of 3, used to display on the service landing page'
        fields:
          - { label: 'Feature Name', name: 'featName', widget: 'string' }
          - { label: 'Feature Description', name: 'featBody', widget: 'text' }
      - {
          label: 'Benefits Title',
          name: 'benefitsTitle',
          widget: 'string',
          default: 'Benefits',
        }
      - {
          label: 'Benefits Tagline',
          name: 'benefitsTagline',
          widget: 'string',
          hint: 'Short, one-line summary shown below the benefits section.',
        }
      - label: 'Benefits'
        name: 'benefits'
        widget: 'list'
        hint: 'maximum of 4 benefits list'
        max: 4
        fields:
          - { label: 'Benefit Name', name: 'benefitName', widget: 'string' }
          - {
              label: 'Benefit Description',
              name: 'benefitBody',
              widget: 'text',
            }
      - label: 'Prices'
        name: 'prices'
        widget: 'list'
        required: false
        hint: 'optional prices for the service'
        fields:
          - {
              label: 'Session Duration',
              name: 'duration',
              widget: 'string',
              hint: 'e.g. 45 minutes',
            }
          - {
              label: 'Session Price',
              name: 'price',
              widget: 'string',
              hint: 'e.g. $85',
            }
